@font-face {
  font-family: 'SEGA LOGO FONT';
  src:local('SEGA LOGO FONT')  url('SEGA.TTF') format('ttf');
}

html{
  height: 100%;
  position: relative;
  
}		

h1{
	font-family: 'SEGA LOGO FONT';
	font-size: 4em !important;
	color: #E4E9EF;


}


h2{
	font-size: 2em;
}
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;       
}